body {
    font-family: 'roboto', sans-serif;
    background:linear-gradient(to bottom left ,#0E197D,rgb(230, 175, 73));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
h1{
    color: #333;
    text-align: center;
    margin:40px;
}
.container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./msdhoni.jpg);
    background-position: center;
    background-size:cover;
    height: 35rem;
    width: 30rem;
    border-radius: 10px;
    box-shadow: 0 1px 4px 4px rgb(237, 236, 235);
}
.container .inputs{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap:1rem;
    position: absolute;
    top:13rem;
}

.container .inputs input[type="text"]{
    
    width: 23rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size:large;
    border: none;
    padding: 0 42px;}

button{
    width: 7rem;
    height: 3rem;
    font-size:large;
    border-radius: 25px;
    font-weight: 80 ; 
    cursor: pointer;
    color:white;
    background-color: #2db44d;
    border: none;
    transition: 0.3s ease;

}   

.no{
    position: absolute;
    right:8rem;
}

button:hover{
    background-color: #218838;
}
video{
    border-radius: 10px;
}